h1 {
  text-align: center;
  margin-top: 5%;
  font-weight: 900;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 35px;
}
.rock {
  color: rgb(90, 35, 190);
  font-size: 50px;
}
.begin{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.begin:hover {
  transform: scale(1.7);
}
#s{
  font-size: 70px;
 
}
#sc{
    margin-right: 20px;
}
#sco{
    margin-left: 20px;
}
.score {
  font-size: 70px;
  

}
.game-image {
  width: 30%;
  position: relative;
  right: 400px;
  top: 80px;
}
.play-button {
  position: relative;
  left: 200px;
  display: flex;
  display: row;
  align-items: center;
}
.main-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body {
  background-image: url(assets/bg.png);
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100vh;
  }

.you {
  border: 3px solid #ffbe1b;
  width: 500px;
  height: 500px;
  text-align: center;
}
.sybol {
  display: flex;
  justify-content: space-around;
}
.ans {
  height: 250px;
  width: 400px;
}
#vs {
  margin-left: 55px;
  margin-right: 55px;
  height: 500px;
}
h2 {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  margin-top: 5%;
}
*{
    margin: -3px;
}
#play {
  height: 30px;
}
.txt {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}
.vaaani {
  font-size: 35px;
  margin-top: 20px;
  font-weight: bold;
}
#end {
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}
#gameOver {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#play {
  height: 50px;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game_name {
  color: white;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#symmboll{
  width: 50%;
  max-width: 300px;
  height: auto;
}

.text{
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
}
#starting {
  background-color: rgb(255, 196, 52);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  border-radius: 5px;
}
#starting{
    display: none;
}